@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Price-Houston-container-major{
    background-position: center;
    max-width: 100vw;
    height: 100%;
    display: grid;
    gap: 10px;
   .Details-Pice-major{
    min-height: $mobile-height;
    height: 100%;
    background-color: aqua;
    gap: 10px;
    .deatail-container-box{
        width: 328px;
        height: 280px;
        background-color: blueviolet;
    }
   }
}