@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.Price-Houston-container-major{
    background-position: center;
    min-width: $mobile-width;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    align-content: space-evenly;
    justify-content: space-between;
    margin-left: 180px;
    margin-bottom: 30px;
    @media (min-width: $desktop-width) {
       position: absolute;
        right: 40px; 
        grid-template-rows: 0.3fr 1fr;
    }
    .Details-Pice-major{
        width: 328px;
        height: 280px;
        padding: 8px 6px;
        display: grid;
      /*   grid-auto-rows: auto; */
        align-content: space-evenly;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        background-color: #FFFFFF;
        border: 1px solid $input-background;
        border-radius: 8px;
               
        .Details-header-Price{
            width: 297px;
            height: -29px;
            display: grid;
            gap: 6px;
            margin-bottom: 12px;
           .Detail-Title{
            width: 134px;
            height: 18px;
            display: grid;
            margin-bottom: -21px;
            @include flexCenter(row, left, center);
            img{
                width: 20px;
                height: 20px;
                color: $secondary-color;
            }
            h1{
                color: $tertiary-text-color;
                font-family: $font-source;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;  
            }
           } 
        }
        .Details-price__wrapper{
           width: 293px;
           height: 185px;
           display: grid; 
           .Details-price_basic{
            width: 280px;
            height: 165px;
            padding: 6px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2px;
            .Adult{
                width: 91px;
                height: 22px;
                display: grid;
                p{
                    color: $tertiary-text-color;
                    font-family: $font-source;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px; 
                }
            }
            .cien{
                width: 31px;
                height: 22px;
                display: grid;
                grid-column: 2;
                margin-left: 120px;
                p{
                    color: $tertiary-text-color;
                   
                    font-family: $font-source;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
            .tax{
                width: 21px;
                height: 22px;
                display: grid;
                p{
                    color: $tertiary-text-color;
                    font-family: $font-source;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                }
            }
            .included{
                width: 54px;
                height: 22px;
                display: grid;
                grid-column: 2;
                margin-left: 104px;
                p{
                    color: $tertiary-text-color;
                   
                    font-family: $font-source;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px; 
                }
            }
            .Regular{
                width: 115px;
                height: 22PX;
                display: grid;
                P{
                    color: $tertiary-text-color;
                    font-family: $font-source;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px; 
                }
            }
            .ciento-cincuenta{
                width: 31px;
                height: 22px;
                display: grid;
                grid-column: 2;
                margin-left: 120px;
                p{
                    color: $tertiary-text-color;
                    font-family: $font-source;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px; 
                }
            }
            .Save{
                width: 29px;
                height: 22px;
                display: grid;
                p{
                    color: $tertiary-color;
                    font-family: $font-source;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px; 
                }
            }
            .uno-punto{
                width: 36px;
                height: 22px;
                display: grid;
                grid-column: 2;
                margin-left: 120px;
                p{
                    color: $tertiary-color;
                    font-family: $font-source;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 22px; 
                }
             }
           }
        .Details-price__total{
            width: 282px;
            height: 1px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2px;
            margin-left: 26px;
            /* top: 23px; */
            .total{
                width: 32px;
                height: 22px;
                display: grid;
                p{
                    color: $tertiary-text-color;
                    font-family: $font-source;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 22px; 
                }
            }
            .price{
                width: 49px;
                height: 22px;
                display: grid;
                margin-left: 64px;
                p{
                    color: $secondary-color;
                    font-family: $font-source;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px; 
                }
            }
        }
        
        }
    }
    .Houston-container-major{
        width: 328px;
        height: 596px;
       /*  padding: 10px; */
        display: grid;
        align-content: space-between;
        justify-content: start;
        gap: 6px;
        top: 10px;
        background-color: #FFFFFF;
        border: 1px solid $input-background;
        border-radius: 8px;
        font-family: $font-source;
        .houston-header{
            width: 275px;
            height: 35px;
            display: grid;
            gap: 6px;
            margin-left: 10px; 
            .houston-tittle{
                width: 325px;
                height: 57px;
                display: grid;
                gap: 2px;
                @include flexCenter(row,left,center);
                font-family: $font-source;
                img{
                    width: 16px;
                    height: 16px;
                }
                h1{
                    color: $tertiary-text-color;
                    font-family: $font-source;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                }
            }
            .houston-container__wrapper{
                width: 316px;
                height: 384px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                gap: 0px;
                .Houston-cloudy-container-1, .Houston-cloudy-container-2 {
                    margin-bottom: 16px; 
                }
               .Houston-cloudy-container-1{
                width: 100%;
                height: 154px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3px;
                margin-bottom: 3px;
                .left-section, .right-section {
                    display: flex;
                    flex-direction: column;
                    gap: 0; 
                }
                .houston-airlines, .HOU,.economy, .houston-hours, .hours-circle {
                    grid-column: 1; 
                }
                .container-nueve, .direct, .direct-airplane {
                    grid-column: 2; 
                }
                .houston-airlines{
                    width: 111px;
                    height: 13px;
                    display: grid;
                    @include flexCenter(row,left,center);
                    img{
                        width: 28px;
                        height: 28px;
                        padding: 5px;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                    }
                    h1{
                        color: $tertiary-text-color;
                        font-family: $font-source;
                        font-size: 12px;
                        
                        font-weight: 600;
                        line-height: 22px; 
                    }
                }
                .HOU{
                    width: 63px;
                    height: 16px;
                    display: grid;
                    span{
                        color: $secondary-text-color;
                        font-family: $font-source;
                        font-size: 14px;
                        
                        font-weight: 400;
                        line-height: 22px; 
                    }
                }
                .economy{
                    width: 36px;
                    height: 19px;
                    display: grid;
                    gap: 6px;
                    @include flexCenter(row,left,center);
                  img{
                    width: 16px;
                    height: 16px;
                  }  
                  p{
                    color: $tertiary-color;
                    font-family: $font-source;
                    font-size: 14px;
                    
                    font-weight: 400;
                    line-height: 22px;
                  }
                }
                .container-nueve{
                    width: 110px;
                    height: 64px;
                    background-color: #F8F3F3 ;
                    display: flex;
                    padding: 9px 25px;
                    flex-grow: 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2px;
                    span{
                        color: $primary-color;
                        text-align: center;
                        font-family: $font-source;
                        font-size: 18px;
                        
                        font-weight: 400;
                        line-height: 28px; 
                    }
                    p{
                        color: $secondary-text-color;
                        text-align: center;
                        font-family: $font-source;
                        font-size: 14px;
                        
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
                .houston-hours{
                  width: 100px;
                  height: 24px;
                  display: grid;
                  margin: 0px;
                  h1{
                    color: $primary-text-color;
                    font-family: $font-source;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;  
                  } 

                }
                .hours-circle{
                    width: 34px;
                    height: 1px;
                    display: grid;
                    @include flexCenter(row,left,center);
                    margin: 0px;
                    img{
                        width: 12px;
                        height: 12px;
                    }
                    h2{
                        color: #2424FE;
                        font-family: $font-source;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 22px; 
                    }
                }
                .direct{
                    width: 60px;
                    height: 2px;
                    display: grid;
                    margin-left: 43px;
                    img{
                        width: 52px;
                        height: 4px;
                    }
                }
                .direct-airplane{
                    width: 49px;
                    height: 13px;
                    display: grid;
                    margin-left: 40px;
                    gap: 6px;
                    @include flexCenter(row,left,center);
                    img{
                        width: 12px;
                        height: 12px; 
                     }
                     p{
                         color: #2424FE;
                         font-family: $font-source;
                         font-size: 14px;
                         
                         font-weight: 400;
                         line-height: 22px;  
                     }
                }
              
              }
              .houston-Refundable-container-1{
                width: 181px;
                height: 26px;
                display: grid; 
                margin-bottom: 126px;
                .refundable{
                    width: 151px;
                    height: 21px;
                    display: grid;
                    @include flexCenter(row,left,center);
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    p{
                        color: $secondary-color;
                        font-family: $font-source;
                        font-size: 12px;
                        
                        font-weight: 400;
                    }
                }
                .reschedule{
                    width: 165px;
                    height: 20px;
                    display: grid;
                    gap: 6px;
                    @include flexCenter(row,left,center);
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    p{
                        color: $secondary-color;
                        font-family: $font-source;
                        font-size: 12px;
                        
                        font-weight: 400;
                    }
                }
              }
              .Houston-cloudy-container-2{
                width: 100%;
                height: 148px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2px;
                margin-bottom: 6px;
                .left-section, .right-section {
                    display: flex;
                    flex-direction: column;
                    gap: 0; 
                }
                .houston-airlines, .HOU,.economy, .houston-hours, .hours-circle {
                    grid-column: 1; 
                }
                .container-nueve, .direct, .direct-airplane {
                    grid-column: 2; 
                }
                .houston-airlines{
                    width: 111px;
                    height: 13px;
                    display: grid;
                    @include flexCenter(row,left,center);
                    img{
                        width: 28px;
                        height: 28px;
                        padding: 5px;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                    }
                    h1{
                        color: $tertiary-text-color;
                        font-family: $font-source;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 22px; 
                    }
                }
                .HOU{
                    width: 63px;
                    height: 16px;
                    display: grid;
                    span{
                        color: $secondary-text-color;
                        font-family: $font-source;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px; 
                    }
                }
                .economy{
                    width: 36px;
                    height: 19px;
                    display: grid;
                    gap: 6px;
                    @include flexCenter(row,left,center);
                  img{
                    width: 16px;
                    height: 16px;
                  }  
                  p{
                    color: $tertiary-color;
                    font-family: $font-source;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                  }
                }
                .container-nueve{
                    width: 110px;
                    height: 64px;
                    background-color: #F8F3F3 ;
                    display: flex;
                    padding: 9px 25px;
                    flex-grow: 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2px;
                    span{
                        color: $primary-color;
                        text-align: center;
                        font-family: $font-source;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px; 
                    }
                    p{
                        color: $secondary-text-color;
                        text-align: center;
                        font-family: $font-source;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
                .houston-hours{
                  width: 100px;
                  height: 24px;
                  display: grid;
                  margin: 0px;
                  h1{
                    color: $primary-text-color;
                    font-family: $font-source;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;  
                  } 

                }
                .hours-circle{
                    width: 34px;
                    height: 1px;
                    display: grid;
                    @include flexCenter(row,left,center);
                    margin: 0px;
                    img{
                        width: 12px;
                        height: 12px;
                    }
                    h2{
                        color: #2424FE;
                        font-family: $font-source;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 22px; 
                    }
                }
                .direct{
                    width: 60px;
                    height: 2px;
                    display: grid;
                    margin-left: 39px;
                    img{
                        width: 52px;
                        height: 4px;
                    }
                }
                .direct-airplane{
                    width: 49px;
                    height: 13px;
                    display: grid;
                    margin-left: 36px;
                    gap: 6px;
                    @include flexCenter(row,left,center);
                    img{
                        width: 12px;
                        height: 12px; 
                     }
                     p{
                         color: #2424FE;
                         font-family: $font-source;
                         font-size: 14px;
                         font-weight: 400;
                         line-height: 22px;  
                     }
                }
              
              }
              .houston-Refundable-container-2{
                width: 181px;
                height: 43px;
                display: grid; 
                .refundable{
                    width: 151px;
                    height: 21px;
                    display: grid;
                    @include flexCenter(row,left,center);
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    p{
                        color: $secondary-color;
                        font-family: $font-source;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .reschedule{
                    width: 165px;
                    height: 20px;
                    display: grid;
                    gap: 6px;
                    @include flexCenter(row,left,center);
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    p{
                        color: $secondary-color;
                        font-family: $font-source;
                        font-size: 12px;
                        font-weight: 400;
                 

                    }
                }
              }
            }
        }  
    }
}