@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.flight-listing {
  &__filters{
    width: 100%;
    height: 70px;
    @include flexCenter(row, center, center);
    @media (min-width: $desktop-width) {
      display: grid;
      justify-content: start;
    }
  }
}