@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;700&display=swap');

/* Colors */
$primary-color: #6C6CFE;
$secondary-color: #11D295;
$tertiary-color: #FE902B;

$primary-text-color: #171A1F;
$secondary-text-color: #8F949F;

$input-background: #F2F3F5;

/* Fonts */
$font-source: 'Sarabun', sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

/* Border radius */
$general-border-radius: 22px;
$form-border-radius: 4px;
$drawer-border-radius: 23px;
$inputs-border-radius: 18px;

/* Screen sizes */
$mobile-width: 414px; 
$mobile-height: 869px; 
$desktop-width: 1280px;
$desktop-height: 720px;
