    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding: 10px 20px;
    }
    
    .header-logo {
        display: flex;
        align-items: center;
    }
    
    .plane-icon {
        color: lightgreen;
        font-size: 24px;
        margin-right: 10px;
    }
    
    .logo-text {
        font-size: 18px;
    }
    
    .header-center-space {
        flex-grow: 1;
    }
    
    .header-currency {
        display: flex;
        align-items: center;
    }
    
    .currency-text {
        font-size: 18px;
        margin-right: 10px;
    }
    
    .globe-icon {
        color: #1e90ff;
        font-size: 24px;
        margin-right: 10px;
    }
    
    .bell-icon {
        color: orange;
        font-size: 24px;
        margin-right: 10px;
    }
    
    .avatar-icon {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }