.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.header-logo {
    display: flex;
    align-items: center;
}
.logo-text {
    color: #6C6CFE;
}

.plane-icon {
    color: #11D396;
    font-size: 24px;
    margin-right: 10px;
    width: 35.84px;
    height: 35.84px;
}

.logo-text {
    font-size: 18px;
}

.header-center-space {
    flex-grow: 1;
}

.header-currency {
    display: flex;
    align-items: center;
}

.currency-text {
    color: #171A1F;
    text-align: right;
    font-family: Sarabun;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    text-transform: uppercase;
}

.globe-icon, .bell-icon, .avatar-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.avatar-icon {
    border-radius: 50%;
}

@media (min-width: 768px) {
.header {
        margin-left: 100px;
        margin-right: 100px;
}

.plane-icon {
        width: 35.84px;
        height: 35.84px;
}

.logo-text {
        font-size: 18px;
}

.currency-text {
        margin-left: 10px; 
        margin-right: 10px; 
}

.globe-icon, .bell-icon, .avatar-icon {
        width: 36px;
        height: 36px; 
}
}
