

.DatePicker-container{
    width: 1440px;
    height: 803px;
}
.DatePicker-container-wrapper{
    h1{
        color: #171A1F;
        font-family: Sarabun;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 140% */
    }
}