@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.DatePicker-page-container {
    max-width: 100vw;
    height: 100%;
    background-position: center;
    display: grid;
    gap: 10px;
    .DatePicker-container-wrapper {
      min-width: $mobile-width;
      height: 100%;
      display: grid;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-left: 20px;
      .DataPicker-page-tittle {
        width: 100%;
        height: 100%;
        @include flexCenter(row, left, left);
        font-family: $font-source;
        span{
          color: $primary-text-color;
          font-family: $font-source;
          font-weight: 700;
          font-size: 40px;
          line-height: 56px;
        }
      }
      .DataPicker-header__wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        .DatePicker__informacion {
          width: 508px;
          height: 44px;
          display: grid;
          align-items: left;
          align-content: space-between;
          align-items: start;
          justify-items: center;
          grid-auto-flow: column;
          gap: 10px;
          .round-trip{
            width: 114px;
            height: 36px;
            padding: 7px 12px;
            background-color: $input-background;
            border-radius: 20px;
            display: grid;
            @include flexCenter(row-reverse,space-between, center);
            span{
              width: 64px;
              height: 22px;
              color: $primary-text-color;     
              font-family: $font-source;
              font-size: 12px;
              display: grid;
              justify-content: center;
              img{
                width: 20px;
                height: 20px;
                display: grid;
                margin-left: 5px;
                color: $primary-text-color;
              }
            }
          }
          .one-way{
            width: 114px;
            height: 36px;
            padding: 7px 12px;
            display: grid;
            background-color:  #ECFDF7;
            border-radius: 20px;
            @include flexCenter(row-reverse, space-around, center);
            span{
              width: 51px;
              height: 22px;
              font-family: $font-source;
              font-size: 12px;
              color: #0A7956;
              img{
                width: 20px;
                height: 20px;
              }
            }
          }
          .line{
            width: 100%;
            height: 100%;
            color: $secondary-text-color;
            display: grid;
            justify-content: space-evenly;
            align-items: center;
          }
          .passager{
            width: 84px;
            height: 36px;
            padding: 7px 12px;
            background-color: #EEE1FB;
            border-radius: 20px;
            display: grid;
            align-items: flex-start;
            gap: 6px;
            @include flexCenter(row, center, center);
            span{
              width: 8px;
              height: 22px;
              color: $primary-color;
              align-items: center;
            }
            .triangulo{
              width: 20px;
              height: 20px;
            }
          }
          .economy{
            width: 132px;
            height: 36px;
            padding: 7px 12px;
            background-color: #EEE1FB;
            border-radius: 20px;
            gap: 6px;
            display: grid;
            @include flexCenter(row, center, center);            
            span{
              width: 56px;
              height: 22px;
              font-weight: 400;
              font-size: 14px;
              color: $primary-color;
              display: grid;
            }
            .ticket{
              width: 20px;
              height: 20px;
              align-items: center;
              align-content: space-around;
              align-items: center;
            }
            .triangulo{
              width: 10px;
              height: 10px;
            }
          }
      }
      }
      .DatePicker-from-to__container {
      min-width: $mobile-width;
      height: 150px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 6px;
      .DatePicker-from__to {
        width: 507px;
        height: 100px;
        padding: 7px;
        background-color: $primary-color;
        border-radius: 10px;
        display: grid;
        align-content: space-between;
        align-items: center;
        justify-items: center;
        grid-template-columns: auto auto auto;
        .from {
          color: #DDE0E5;
          font-family: $font-source;
          font-size: 14px;
          font-weight: $regular-weight;
          display: grid;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 30px;
          margin-inline-start: auto;
        }
        .arrows {
          width: 20px;
          height: 20px;
          display: grid;
        }
        .to {
          color: #DDE0E5;
          font-family: $font-source;
          font-size: 14px;
          font-weight: $regular-weight;
          display: grid;
          margin-right: 20px;
          margin-top: 20px;
          margin-bottom: 30px;
          margin-inline-start: auto;
          p {
            color: #CDCDFE;
          }
        }
      }
      .container-search {
        width: 46px;
        height: 100px;
        padding: 0px 13px;
        display: grid;
        align-items: flex-start;
        justify-content: center;
        .search {
          background-color: $secondary-color;
          border-radius: 6px;
          width: 46px;
          height: 100%;
        }
        img{
          width: 20px;
          height: 20px;
          align-content: center;
          margin-top: 35px;
          margin-left: 15px;
        }
      }
      }
      .container-date-climate {
        width: 234px;
        height: 300px;
        border-radius: 117px;
        border: 2px solid $input-background;
        display: grid;
        position: relative;
        span {
          color: $secondary-text-color;
          font-family: $font-source;
          font-size: 14px;
          font-weight: 400;
          margin-left: 95px;
          margin-top: 28px;
        }
        .horizon-line {
          width: 200px;
          height: 02px;
          color: $input-background;
          margin-left: 15px;
          margin-top: 8px;
        }
        /* .rectangle {
          width: 28px;
          height: 10px;
          display: flex;
          align-content: stretch;
        } */
        h1 {
          width: 69px;
          color: $primary-color;
          font-family: $font-source;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-top: 10px;
          text-align: center;
          margin-left: 75px;
        }
        p {
          color: $primary-color;
          font-family: $font-source;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          margin-left: 60px;
        }
        
        .group {
          width: 64px;
          height: 64px;
          margin-left: 75px;
        }
     /*    
        .oval {
          width: 6px;
          height: 6px;
          top: 210px; 
          left: 150px;
        } */
        
        .numero {
          color: $primary-text-color;
          font-family: $font-source;
          font-size: 24px;
          font-weight: $regular-weight;
          line-height: 36px;
          margin-left: 95px;
          margin-top: 20px;
          
        }
        
        h2 {
          color: $secondary-text-color;
          font-family: $font-source;
          font-weight: $regular-weight;
          line-height: 22px;
          margin-left: 80px;
          margin-bottom: 23px;

        } 
      }
      .DatePicker__world {
        min-height: $mobile-width;
        height: 373px;
        position: relative; 
        .airplane {
          img {
            width: 230px;
            height: 77px;
            transform: rotate(6.27deg);
            position: absolute; 
            top: 120px; 
            left: 290px; 
            z-index: 1; 
        }
      }
      .bestPrice{
        display: inline-flex;
        padding: 7px 17.5px;
        justify-content: center;
        background-color: #FEF1DC;
        align-items: center;
        border-radius: 18px;
        position: absolute;
        bottom: 150px;
        left: 150px;
        h2{
          color: #9C6100;
          font-family: Sarabun;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }
      .eco{
        display: inline-flex;
        padding: 7px 17.5px;
        justify-content: center;
        background-color: #FEF6EF;
        border-radius: 18px;
        align-items: center;
        position: absolute;
        bottom: 170px;
        left: 550px;
        p{
          color: #FE902B;
          font-family: Sarabun;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }
      }
      .fly{
        display: inline-flex;
        padding: 7px 17.5px;
        justify-content: center;
        background-color: #F2FAF9;
        align-items: center;
        border-radius: 18px;
        position: absolute;
        bottom: 250px;
        right: 550px;
        h3{
          color:  #246B5E;
          font-family: Sarabun;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */;
          font-family: Sarabun;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
        }
      }
      .rojo-oval{
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 124px;
        left: 470px;
      }
      .verde-oval{
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 220px;
        left: 150px;
      }
      .azul-oval{
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 310px;
        left: 570px;
      }
    }
      
    .DatePicker-calendary__World{
      width: 580px;
      height: 387;
      display: grid;
      
    }
  }
}