@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.gallery-container {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 12px;
  &__title {
    font-size: 3.5rem;
    text-align: center;
    color: $primary-text-color;
  }
  &__cards-container {
    width: 100%;
    height: auto;
    @include flexCenter(row, space-between, center);
    gap: 20px;
    overflow-x: scroll;
    @media (min-width: $desktop-width) {
      min-width: $desktop-width;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 380px);
      gap: 5px;
      @include removeHorizontalScroll;

    }
  }
  &__button {
    @include buttonStyle(170px, 44px, $general-border-radius, #FEFEFE, $secondary-color, 1.6rem);
    letter-spacing: 0.5px;
  }
  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    gap: 20px;
  }
}