form {
    background-color: white;
    width: 400px;
    padding: 20px;
    border: 1px solid red;
    margin-left: 127px;
    margin-top: 449px;
    margin-bottom: 910px;
    width: 600px;
    height: 660px;
}

form div {
    margin-bottom: 20px;
}
.payment-metodh {
    display: flex;
    justify-content: space-between;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="text"],
form input[type="date"],
form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    color: green;
    text-transform: uppercase;
}
