    // Footer.scss

    .footer {
        background-color: #F7F8F9;
        color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }
    
    .logo {
        display: flex;
        align-self: start;
        margin-left: 17%;
        margin-top: 70px;
    }
    
    .logo img {
        width: 35px;
        height: 35px;
        flex-shrink: 0;
    }
    
    .name {
        color: #6C6CFE;
        font-family: Sarabun;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
    }

    
    .links {
        display: flex;
        flex-direction: row; /* Esto coloca los elementos en una fila */
        align-items: center; /* Esto alinea verticalmente los elementos en el centro */
        margin-left: 600px;
        transform: translateY(-44px); /* Ajusta la cantidad de movimiento según tus necesidades */
        transition: transform 0.3s ease;
    }
    

    .links a {
        text-decoration: none;
        color: #171A1F; /* Cambia el color para "About us", "Flight" y "Contact us" */
        font-family: Sarabun;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 150% */
        margin-right: 50px; /* Espacio entre los elementos en la fila */
    }
    
    .subscribe {
        margin-top: 30px;
        display: flex;
        align-items: center;
        align-self: start;
        margin-left: 217px;
        transform: translateY(-50px); /* Ajusta la cantidad de movimiento según tus necesidades */
        transition: transform 0.3s ease;
    }
    
    .subscribe input[type="email"] {
        padding: 7px 89px 6px 12px;
        align-items: center;
        gap: 6px;
        border-radius: 18px;
        border: 1px solid #8F949F;
        background: #FEFEFE;
        display: flex;
        color: black;
        width: 60%;
    }
    
    .subscribe button {
        display: inline-flex;
        padding: 7px 13.5px 7px 14.5px;
        justify-content: center;
        align-items: center;
        border-radius: 18px;
        background: #11D295;
        color: #FEFEFE;
        border: none;
        margin: 10px;
        
    }
    
    .social {
        font-size: 20px;
        width: 100px;
        height: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 780px;
        transform: translateY(-98px);
        transition: transform 0.3s ease;
    }
    
    .social svg {
        color: #424955;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }
    
    .copy {
        color: #424955;
        margin-top: 20px;
        font-size: 14px;
    }

    @media (max-width: 768px) {
        .footer {
            padding: 10px; /* Ajusta el espacio según tus necesidades */
        }
    
        .logo {
            margin-left: 0; /* Centrar el logo */
            margin-top: 10px; /* Ajustar el margen superior según tus necesidades */
        }
    
        .name {
            text-align: center; /* Centrar el texto */
        }
    
        .links {
            margin: 10px 0; /* Espacio entre enlaces y centrarlos */
            transform: translateY(0); /* Restablecer transform */
        }
    
        .links a {
            margin: 0 10px; /* Espacio entre enlaces reducido */
        }
    
        .subscribe {
            margin-left: 0; /* Centrar el formulario de suscripción */
            transform: translateY(0); /* Restablecer transform */
        }
    
        .subscribe input[type="email"] {
            padding: 7px 12px; /* Ajustar el relleno según tus necesidades */
            width: 100%; /* Ocupar todo el ancho disponible */
        }
    
        .social {
            margin: 10px 0; /* Espacio entre iconos de redes sociales y centrarlos */
            transform: translateY(0); /* Restablecer transform */
        }
    
        .copy {
            text-align: center; /* Centrar el texto de derechos de autor */
        }
    }
    