.footer {
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;

    .contenedor {
        max-width: 540px;
        margin: auto;
        padding: 20px;

        .logo {
            display: flex; // Alinea el logo y el nombre en la misma línea
            align-items: center; // Centra verticalmente el logo y el nombre
            margin-bottom: 20px;

            img {
                height: 40px;
            }

            .name {
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
                color: #6C6CFE;
            }
        }

        .links {
            display: flex; // Alinea los enlaces en la misma línea
            flex-wrap: wrap; // Permite que los enlaces se envuelvan a la siguiente línea en pantallas pequeñas
            justify-content: space-between; // Distribuye el espacio entre los enlaces de manera uniforme
            margin-bottom: 20px;

            .link-group {
                display: flex; // Alinea el enlace principal y los sub-enlaces en la misma línea
                flex-direction: column; // Coloca los sub-enlaces debajo del enlace principal

                .sub-links {
                    a {
                        font-size: 12px;
                        display: flex;
                        flex-direction: row;
                        margin-top: 10px;
                    }
                }
            }

            a {
                color: #212529;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .subscribe {
            position: relative;

            .input-container {
                position: relative;

                .email-input {
                    padding-left: 30px; // espacio para el icono
                    border-radius: 10px;
                }
                
            }

            button {
                background-color: #11D295;;
                border-radius: 10px;
                color: white;
                padding: 10px 10px;
                margin-top: 10px;

                &:hover {
                    background-color: #0056b3;
                    border-color: #0056b3;
                }
            }
        }

        .social {
            display: flex; // Alinea los iconos de las redes sociales en la misma línea
            justify-content: center; // Centra los iconos de las redes sociales
            margin-bottom: 20px;

            svg {
                margin: 0 06px; // Añade un margen a los lados de cada icono de las redes sociales
                margin-top: 10px;
            }
        }

        .copy {
            font-size: 12px;
            color: #6c757d;
        }
    }
}
