@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

$light-color: #FFFFFF;
.filters {
  width: 150px !important;
  height: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  &__button {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: $light-color !important;
    border: 1px solid $secondary-color !important;
    color: $secondary-color !important;
    &:hover {
      border: none !important;
      background-color: $secondary-color !important;
      color: $light-color !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  &__text-button {
    font-size: 1.8rem;
  }
  &__wrapper-title {
    width: 100% !important;
    @include flexCenter(row, flex-start, center);
    height: 30px;
    gap: 5px;
    &--title {
      font-size: 2rem !important;
      font-weight: $bold-weight !important;
    }
  }
  &__bar {
    width: 100%;
    height: 1px;
    background-color:#DDE0E5;
    margin: 10px 0;
  }
  &__wrapper-subtitle {
    width: 100%;
    height: 40px;
    @include flexCenter(row, space-between, center);
    &--title {
      font-size: 1.6rem;
      font-weight: $bold-weight;
    }
  }
  &__checkbox-wrapper {
    height: 30px !important;
  }
  &__label {
    font-size: 1.4rem !important;
    padding-left: 5px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.filters-desktop {
  display: none;
  @media (min-width: $desktop-width) {
    width: 328px;
    height: 473px;
    margin-top: 16px;
    display: grid;
    border-radius: 8px;
    background: #FEFEFE;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
  }
}
